
body {
    background: url(bg_gradient.png) top center repeat-x #202020;
    font-family: 'Lato', Calibri, Tahoma, sans-serif;
}
hr {
    border-color: #999;
}
h1, h2, h3, h4, h5, h6 {
    color: #333;
    /*font-family: Calibri, Tahoma, sans-serif;*/
    font-family: 'Lato', Calibri, Tahoma, sans-serif;
    font-weight: normal;
    clear: both;
    /*text-shadow: 0px 0px 1px #223510;
    filter: dropshadow(color=#223510, offx=1, offy=1);*/
}


footer {
    background: #E2BF7D;
    padding-top: 0px;
    margin-top: 10px;
    /*border-top: 5px solid #555;*/
}
    #footer {
        padding: 10px 20px 0px 20px;
        background: #F0F0F0 url(paper_bg_alt.jpg) repeat;
    }
	footer .row { padding-top: 15px; }
    footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
        color: #DDD;
    }
    footer p { color: #DDD; margin-bottom: 0px; padding-bottom: 10px; }
    footer p small { color: #888; }
	footer .list-group  { border-radius: 0px; box-shadow: none; -webkit-box-shadow: none; }
	footer .list-group-item  { 
		background: transparent; 
		color: #333; 
		border: none; 
		padding: 5px 10px;
	}
	footer .list-group-item:first-child {
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
	footer .list-group-item:last-child {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		margin-bottom: 0;
	}
.hero-unit { 
    margin-bottom: 10px; 
    background-color: rgba(238,238,238,0.5);  
    -webkit-box-shadow:  0px 0px 5px 3px rgba(200, 200, 200, 0.5);
    box-shadow:  0px 0px 5px 3px rgba(200, 200, 200, 0.5);
}
.btn { border-radius: 0px; }
.modal { width: 80%; left: 10%; margin-left: 0px; border-radius: 0px; }
.modal-body { max-height: 9999px; }
.modal-footer { text-align: left; }
.caption h3 { margin-top: 0px; }
.thumbnail:hover { border: 1px solid #999 }
.thumbnail-inactive { background-color: transparent; }
.alert { padding: 10px; }

.span-first { margin-left: 0px; }

.block-link p { padding: 0px; }
.block-link p:hover {
    outline: 1px solid #497B7B;
    background-color: #DDD;
    text-decoration: none;
    /*border-radius: 5px;*/
}
.block-link a:hover, .block-link a:focus, .block-link:hover { text-decoration: none; }
.table .progress { margin-bottom: 0px; }
.progress { border-radius: 0px; }
footer .container { padding: 0px 20px 0px 20px; }

#site-container {
    background-image: url(folder_tab_tl.png), url(folder_tab_br.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat, no-repeat;
    background-size: 64px 400px, 64px 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 54px 0px 54px;
    position: relative;
    /*box-shadow: 0px 0px 10px #202020;*/
	font-size: 16px;
}
    #site-folder {
        background-color: #E2BF7D;
        background-image: url(folder_tab_tl.png);
        background-size: 64px 400px;
        background-position: -54px 0px;
        background-repeat: no-repeat;
        padding: 10px 10px 10px 10px;
    }
    #site-inner {
        padding: 20px;
        background-image: url(paper_bg_top.jpg), url(paper_bg.jpg);
        background-position: center, center;
        background-repeat: no-repeat, repeat;
        /*background: #F0F0F0 url(paper_bg.jpg) repeat;*/
        box-shadow: 0px 0px 10px #404040;
    }
    #site-inner h1:first-of-type { margin-top: 0px; }
    #site-inner h2:first-of-type { margin-top: 0px; }
    
    #site-header {
        /*background: #1B1B1B;*/
        padding: 0px 0px 0px 0px;
        /*border-bottom: 5px solid #555555;*/
        position: relative;
        /*height: 64px;*/
        margin-bottom: 10px; 
    }
        #site-header .nav-tabs {
            border-bottom: none;
            margin-bottom: 0px;
        }
		#site-header a, #site-header a:link {
			color: #CCC;
			border-radius: 0px;
		}
        #site-header .dropdown-menu, #site-header .list-group-item, 
        #site-header .list-group-item  img  { padding: 0; width: 100%; }
        #site-header .list-group-item-heading { text-align: left; padding-left: 5px; padding-top: 5px; }
        #site-header .caption { width: 250px; margin: 0; }
    #site-header-title {
		clear: none; 
		font-family: 'Architects Daughter', Calibri, Tahoma, cursive;
        font-weight: bold;
		font-size: 400%; 
		letter-spacing: -3px;
        color: #EEE;
        text-shadow: -2px 0 #000000,0 2px #000000,2px 0 #000000,0 -2px #000000;
    }
    #header-home-small { width: 100%; margin: 0px; }
	#header-home { display: none; }
    
    #site-navigation {
        float: right;
    }
        #site-navigation li { font-size: 100%; }
        #site-navigation a:link, #site-navigation a { color: #333; }
        #site-navigation a:hover, #site-navigation a:focus { color: #000; }
    .site-extra div.caption { margin-left: 0px; }
.site-news-entry hr {
    background: url("news_break.png") no-repeat scroll -12px 0px transparent;
}

div.item_preview { height: 212px; overflow: hidden; position: relative; }
div.item_preview:hover {
border-color: #001936;
text-decoration: none;
color: #555;
}
    div.item_preview img {
        border: 0; margin: 0; padding: 0;
        width: 100%; height: auto;
    }
    div.item_preview div {
        /*float: left; padding: 0px;*/
    }
    div.item_preview div p { display: none; }
    div.item_preview div h4 { margin-bottom: 5px; font-size: 165%; }

div.item_featured {
    border-color: #CFCFC8;
    background: none;
    color: #000;
    position: relative;
    height: 212px;
    overflow: hidden;
    margin-bottom: 10px;
}
    div.item_featured div {
        position: absolute;
        bottom: 0;
        color: #CFCFC8;
        background: #001936;
        padding: 5px;
    }
    div.item_featured div h4 { margin-top: 0px; margin-bottom: 5px; color: #EEE; font-size: 165%; }
    div.item_featured div p { margin-bottom: 0px; }
    div.item_featured img { width: 100%; height: auto; }
    
div.item_featured:hover {
    border-color: #CFCFC8;
    color: #555;
}

div.video-tile {
    width: 100%;
    clear: both;
    display: table;
    border: 1px solid #BBB;
    margin-bottom: 10px;
}
    div.video-tile:hover { border-color: #555; }
    div.video-tile-img { display: table-cell; width: 35%; padding-right: 5px; }
    div.video-tile img { width: 100%; height: auto; }
    div.video-tile-content { display: table-cell; width: 65%; vertical-align: top; }
    div.video-tile-content h4 { margin-top: 0; }
    a.video-link { text-decoration: none; color: #555; }
    a.video-link:hover { text-decoration: none; }
.video-tag { font-size: 100%; border-radius: 0px; }


.thread-post { border-top: 2px solid #AAA; position: relative; }
    .post-user { 
        min-width: 150px;
        max-width: 200px;
        display: table-cell;
        border-right: 1px solid #AAA; 
        text-align: right; 
        padding-right: 10px; 
    }
        .post-user h3 { margin-top: 0px; }
    .post-content { 
        width: 100%; 
        height: auto; 
        display: table-cell;
        padding: 10px;
        position: relative; 
        vertical-align: top;
    }
    .post-content-footer { position: absolute; bottom: 0px; }
    .post-content-actions { position: absolute; bottom: 0px; right: 0px; }
    
.icon-md { height: 32px; }
.icon-sm { height: 24px; }

@media (max-width: 768px) {
    body {
        padding-left: 0px;
        padding-right: 0px;
    }
    #site-container, #site-header {
        margin: 0px 20px 0px 20px;
    }
    #site-container {
        background: none;
        padding: 0px;
    }
    #site-folder { background-image: none; }
}
@media (max-width: 1199px) {
    #site-navigation li { font-size: 90%; padding: 5px 10px 5px 10px; }
    /*#site-navigation li a { padding: 5px; }*/
}

@media (min-width: 768px) and (max-width: 979px) {

}
